<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">City</th>
            <th scope="col">Postcode</th>
        </tr>
    </thead>
    <tbody>
        <%- include("include/_data") %>
    </tbody>
</table>